.idea/
lib/qtJambi/win64/qtjambi-native-win64-msvc2013x64-4.8.7.jar
lib/kotlin/kotlin-test.jar
lib/kotlin/kotlin-stdlib.jar
lib/kotlin/kotlin-stdlib-sources.jar
lib/kotlin/kotlin-reflect.jar
lib/qtJambi/win64/qtjambi-4.8.7.jar
lib/rxkotlin-2.2.0.jar
lib/rxjava-2.1.8.jar
lib/qtJambi/win32/qtjambi-native-win32-msvc2012-4.8.6.jar
lib/qtJambi/win32/qtjambi-4.8.6.jar
lib/qtJambi/macosx/qtjambi-util.jar
lib/qtJambi/macosx/qtjambi-native-macosx-gcc-4.8.6.jar
lib/qtJambi/macosx/qtjambi-4.8.6.jar
lib/qtJambi/linux64/qtjambi-native-linux64-gcc-4.8.7.jar
lib/qtJambi/linux64/qtjambi-4.8.7.jar
lib/qtJambi/linux32/qtjambi-native-linux32-gcc-4.8.7.jar
lib/qtJambi/linux32/qtjambi-4.8.7.jar
